*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Gabarito", sans-serif;
}

.navbar{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px black;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: #9339D5;
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    align-items: center;
    background-color: transparent;

}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;

}

.my-learning{
    position: relative;
    cursor: pointer;
}

.my-learning__popup{
    position: absolute;
    border: solid black 2px;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: white;
    right: 0;
    top: 30px;
    display: none;
}

.my-learning:hover .my-learning__popup{
    display: block;
}

.section-image{
    position: relative;
}

.section-image__offer{
    position: absolute;
    border: solid black 2px;
    background-color: white;
    width: 400px;
    top: 20%;
    left: 10%;
    padding: 10px;
    animation-name: zoom;
    animation-duration: 1s;
    opacity: 0;
    animation-fill-mode: forwards;

}

@keyframes zoom{

    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }

}

.categories{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
    border-bottom: solid 1px black;
   
   
}

.categories p{
    background-color: #9339D5;
    padding: 10px;
    border-radius: 30px;
    border: #9339D5 solid 1px;
    cursor: pointer;
}

.categories p:hover{
    background-color: white;
    color: #9339D5;
    border: solid #9339D5 1px;
    transition: 0.5s;
}

.section-image img{
    width: 100% ;
}

.recomended{
    padding-left: 20px;
}

.recomended__title{
padding-top: 10px;
}

.recomended__card{
    width: 300px;
}

.recomended__card img{
    width: 200px;
    height: 150px;
}

.recomended_container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.topics{
    padding: 20px;
}

.topics__container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-top: 10px;
   
    
}

.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;

}

.popular-card img{
    width: 200px;
    height: 150px;
}


.popular-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}

.popular{
    padding-left: 20px;
}

.footer{
    background-color: black;
    color: white;
}

.footer__one{
    display: flex;
    padding: 20px;
    gap: 20px;
}

.footer__one p{
    margin: 10px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
    
}



